.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition-timing-function: ease-in;
    transition: all 0.2s;
}
.nav_Menu{
    padding-right: 900px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_Logo{
    width: 100px;
    height: 60px;
}
.nav_avatar{
    position: fixed;
    right: 20px;
    width: 60px;
    height: 60px;
    padding-right: 20px;
}

.nav_Menu a span{
    color: aliceblue;
}
@media screen and (max-width: 550px) {
    .nav_Menu{
        display: none;
    }

    

    .nav{
        
        display: flex;
        justify-content: space-between;
        
        transition-timing-function: ease-in;
        transition: all 0.2s;
    }
}